:root {
    --primary-font-family: 'Merriweather Sans', sans-serif;
    --secondary-font-family: 'Roboto Condensed', sans-serif;
}

.header-msg {
    margin: auto;
    margin-top: 100px;
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: 1em;
    max-width: 40%;
}

.section-body {
    margin: auto;
    display: flex;
    width: 80vh;
    height: 70vh;
    font-family: var(--secondary-font-family);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    overflow: hidden;
}

.section-desc {
    padding: 12px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    color: white;
    overflow: hidden;
}

.section-desc i {
    left: 4px;
    font-size: 400px;
    opacity: 0.4;
}

.section-desc h4 {
    font-size: 24px;
    margin-bottom: 16px;
}

.section-input {
    padding: 12px;
    width: 50%;
    height: 100%;
}

.button {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px 32px;
    border-radius: 32px;
    font-size: 16px;
    border: none;
    font-family: var(--secondary-font-family);
    transition: 0.5s;
}

.button:hover {
    color: white;
    background-color: darkgray;
}

.section-input form{
    height: 80%;
    text-align: center;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.radio-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid black;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    transition: 0.1s all linear;
}

.radio-button:checked {
    border: 6px solid black;
}

.input-container {
    display: inline-block;
    overflow: visible;
}

.input-field {
    border: 2px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 15px 24px;
    border-radius: 24px;
    font-family: var(--secondary-font-family);
    font-size: 16px;
    width: 80%;
    background-color: gainsboro;
    outline: none;
}

.input-field:focus {
    border: 2px solid black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 0;
}

.valid-entry {
    background-color: lightgreen;
}

.invalid-entry {
    background-color: lightpink;
}

.error-message {
    color: red;
    position: absolute;
    bottom: 80px;
    right: 8px;
    display: none;
}